body {
    background-color: lightgray;
}

section {
    background-color: white;
}

p {
    max-width: 75ch;
}

img {
    margin-top: 15px;
    border: darkgray;
    border-style: inset;
    border-width: 10px;
    width: 200px;
    height: 200px;
}

.row {
    margin: 15px;
}

.card {
    margin-top: 20px;
    width: 50%;
}
