body {
    background-color: lightgray;
}

section {
    background-color: white;
}

p {
    max-width: 75ch;
}

img {
    margin: 10px;
    border: darkgray;
    border-style: inset;
    border-width: 10px;
    max-width: 200px;
    max-height: 200px;
    float: left;
}

.row {
    margin: 15px;
}

.card {
    margin-top: 20px;
    width: 50%;
}

.img-fluid {
    background: url(./Images/MuddyGapLookout.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}