.row {
    margin: 15px;
}

body {
    background-color: lightgray;
}

section {
    background-color: white;
}

p {
    max-width: 75ch;
}

img {
    margin: 5px;
    border: darkgray;
    border-style: inset;
    border-width: 10px;
    width: 220px;
    height: 220px;
}

.card {
    margin-top: 20px;
    width: 50%;
}
